.container{
  margin: 5rem;
  max-width: 40rem;
}

.title{
  width: 40rem;

}

.inputToDo{
  margin: 1rem 7.5rem 1rem;
  padding: 0.5rem 0;

  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  background: #edebfb;

  box-shadow: 0.2rem 0.2rem 1rem 0 rgba(0, 0, 0, 0.19);

}

.toDoListInput{
  width: 20rem;
}

.addButton{
  margin-left: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.addIcon:active{
  color: #00848D;
}