.taskContainer{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  border-radius: 1rem;

  margin: 1rem 7.5rem 1rem;
  background-color: #ffeffe;

  box-shadow: 0.2rem 0.2rem 1rem 0 rgba(0, 0, 0, 0.19);

}
.typorgraphyText{
  max-width: 20rem;
}

.listText{
  margin-top: 1rem;
  width: 20rem;
}

.deleteButton{
  margin-left: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}

.checkmarkIcon:active{
    color: #00848D;
}

