.navbar-color {
  background-color: #69639c;
  flex-grow: 1;
}

.nav-class{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.siteLogo{
  max-width: 4rem;
  height: auto;
}

.navLinks{
  margin: 2rem;
}

.link-text {
  color: white;
  text-decoration: none;
  display: inline-flex;
  vertical-align: middle;
}

.link-text:hover {
  color: #e4e3e6;
  text-decoration: none;
  display: inline-flex;
  vertical-align: middle;
}